@model  CMS_Core.Models.CategoryDynamicAddViewModel
@using CMS_Core.Entity;
@using CMS_Core.Common;
@{
    ViewBag.Title = "CategoryDynamicAdd";
}

<script src="/Content/AdminLTE/js/Customer/CategoryDynamicAdd.js"></script>
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>

<!-- Begin Form -->
<div class="box box-info">

    @using (Html.BeginForm("CategoryDynamicAdd", "CatalogSystem", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="box-body">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Tên(Mã):<span class="required">*</span></label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.cms_Categorie.CATEGORY_NAME, new { @class = "form-control", type = "SingleLine", placeholder = "Tiêu đề", autocomplete = "true" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Mô tả:<span class="required">*</span></label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.cms_Categorie.CATEGORY_DESC, new { @class = "form-control", type = "SingleLine", placeholder = "Mô tả", autocomplete = "true" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Vị trí:</label>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.cms_Categorie.CATEGORY_ORDER, new { @class = "form-control", type = "number", placeholder = "Vị trí" })
                </div>
            </div>



            @if (Model.SETTUPS != null)
            {
                int index = 0;
                foreach (var data in Model.SETTUPS)
                {
                    if (data.FIELDTYPE == Constant.TextBox)
                    {
                        @Html.TextBoxNew(Model, index);
                    }
                    else if (data.FIELDTYPE == Constant.TextArea)
                    {
                        @Html.TextAreaNew(Model, index);
                    }
                    else if (data.FIELDTYPE == Constant.CheckBox)
                    {
                        @Html.CheckBoxNew(Model, index);
                    }
                    else if (data.FIELDTYPE == Constant.intSelect)
                    {
                        @Html.DropDownListNew(Model, index);
                    }


                    @Html.TextBoxFor(m => m.SETTUPS[index].TYPEDATAINPUT, new { @class = "checkbox-inline", Type = "hidden" })
                    @Html.TextBoxFor(m => m.SETTUPS[index].FIELDTYPE, new { @class = "checkbox-inline", Type = "hidden" })
                    @Html.TextBoxFor(m => m.SETTUPS[index].LABEL_NAME, new { @class = "checkbox-inline", Type = "hidden" })
                    index = index + 1;

                }
            }

            @Html.TextBoxFor(m => m.Partnerid, new { @class = "checkbox-inline", Type = "hidden" })
            @Html.TextBoxFor(m => m.parentID, new { @class = "checkbox-inline", Type = "hidden" })
            @Html.TextBoxFor(m => m.cms_Categorie.ID, new { @class = "checkbox-inline", Type = "hidden" })
            @Html.TextBoxFor(m => m.cms_Categorie.CATEGORY_PARRENT, new { @class = "checkbox-inline", Type = "hidden" })
            @Html.TextBoxFor(m => m.Title, new { @class = "checkbox-inline", Type = "hidden" })


            <div class="form-group text-center">
                <div class="col-xs-8">
                    <button type="submit" name="submit" id="SaveCategoryDynamicAdd" value="SaveCategoryDynamicAdd" class="btn btn-danger"> <i class="fa fa-save"></i> Lưu (Alt + S)</button>
                    <a id="listCategoryDynamic" href="/CatalogSystem/CategoryDynamic?CATE_ID=@Model.parentID" class="btn btn-primary"><i class="fa fa-backward"></i> Quay lại (Alt + Z) </a>
                </div>
            </div>
            </div>
    }
</div>


<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>


<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>


<script>
    //To get selected value an text of dropdownlist
    function SelectedValue(ddlObject, str1, str2, str3) {
        //Selected value of dropdownlist
        var selectedValue = ddlObject.value;
        //Selected text of dropdownlist
        var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;

        var options = {};
        options.url = "/CatalogSystem/getListData?str1=" + str1 + "&str2=" + selectedValue + "&str3=" + str3;
        options.type = "POST";
        options.data = JSON.stringify(selectedValue);
        options.contentType = "application/json";
        options.dataType = "json";
        options.success = function (msg) {
            $("#" + str2).html('');
            $("#" + str2).get(0).options.length = 0;
            $("#" + str2).get(0).options[0] = new Option("Chọn dữ liệu", "0");
            $.each(msg, function (index, item) {
                $("#" + str2).get(0).options[$("#" + str2).get(0).options.length] = new Option(item.namefield, item.idfield);
            });

            // $("#AccountType").focus();
        };
        options.error = function () {
            alert("Có lỗi trong quá trình load dữ liệu");
        };
        $.ajax(options);
    }
</script>
