@using CMS_Core.Entity;
@model  CMS_Core.Entity.CMS_SERVICE_GROUP

@{
    ViewBag.Title = "Danh sách nhóm dịch vụ";
    var UserInfo = ((cms_Account)Session["UserInfo"]);
    var SERVICE_GROUPS = (List<CMS_SERVICE_GROUP>)ViewBag.SERVICE_GROUPS;
    CMS_Core.Common.ComboBoxFinal<ClassComboBox> ComboBox = new CMS_Core.Common.ComboBoxFinal<ClassComboBox>();
    CMS_Core.Common.ComboBoxFinal<CMS_PARTNER> ComboBoxPARTNER = new CMS_Core.Common.ComboBoxFinal<CMS_PARTNER>();

}



<script src="/Content/AdminLTE/js/Customer/ListGroupService.js"></script>
<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>



<!-- Begin Content -->
<div class="box box-info">

    @using (Html.BeginForm("ListGroupService", "CatalogSystem", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

    <div class="box-body">

        <div class="col-sm-3">
            <div class="form-group" style="margin-left: 0px;">
                @Html.TextBoxFor(m => m.SERVICE_GROUP_CODE, new { @class = "form-control  ", type = "SingleLine", placeholder = "Mã nhóm dịch vụ", autocomplete = "off", id = "SERVICE_GROUP_CODE" })
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                @Html.TextBoxFor(m => m.SERVICE_GROUP_NAME, new { @class = "form-control  ", type = "SingleLine", placeholder = "Tên nhóm dịch vụ", autocomplete = "off", id = "SERVICE_GROUP_NAME" })
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                @Html.TextBoxFor(m => m.SERVICE_GROUP_DESC, new { @class = "form-control", type = "SingleLine", placeholder = "Mô tả", autocomplete = "off", id = "SERVICE_GROUP_DESC" })
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                @Html.TextBoxFor(m => m.SERVICE_GROUP_PRICE, new { @class = "form-control", type = "number", placeholder = "Giá tiền", autocomplete = "off", id = "SERVICE_GROUP_PRICE" })
            </div>
        </div>
        <div class="form-group">
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <button type="submit" name="submit" value="hiddent" id="hiddent" class="btn btn-danger" style="display: none;"></button>
                <button type="submit" id="SaveListGroupService" name="submit" value="SaveListGroupService" class="btn btn-danger mr-1 mb-2" style="width:105px"> <i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>


        @Html.TextBoxFor(m => m.ID, new { @class = "checkbox-inline", Type = "hidden" })

        @Html.AntiForgeryToken()
    </div>
        <div class="box-body">

            @if (UserInfo.PARTNERID == 1)
            {
                <div class="col-sm-3">
                    <div class="form-group align-content-center">
                        <label class="control-label col-xs-4" style="font-weight:bold; ">Đối tác: </label>
                        <div class="col-xs-8">
                            @Html.DropDownListFor(m => m.PARTNERID, ComboBoxPARTNER.GetComboBoxBySelected("SELECT  id,partner_name FROM    cms_partner where PARTNER_STATUS = 2", "id", "partner_name", Model.PARTNERID.ToString(), true), new { @class = "form-control select2",  onchange = "SelectedSearch(this)" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <button type="submit" id="cmdSearch" name="submit" value="SearchListGroupService" class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
                    </div>
                </div>
            }
            else
            {
                @Html.TextBoxFor(m => m.PARTNERID, new { @class = "checkbox-inline", Type = "hidden" })
            }
        </div>
        <div class="box box-info" style="margin-top: 5px;">
            <!-- Sorting -->
            <section class="panel">

                <!-- Begin Content -->
                <div class="panel-body">
                    <table id="sorting-table" class="table table-bordered table-striped mb-none">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                                <th id="SERVICE_GROUP_NAME">Tên nhóm dịch vụ</th>
                                <th id="SERVICE_GROUP_CODE">Mã nhóm dịch vụ</th>
                                <th id="SERVICE_GROUP_DESC">Mô tả</th>
                                <th id="Status"><span style="width:100px;">Trạng thái</span></th>
                                <th id="edit">Edit</th>
                                <th id="AddService">Chọn dịch vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (SERVICE_GROUPS != null)
                            {
                                foreach (var data in SERVICE_GROUPS)
                                {
                                    <tr>
                                        <td><input type="checkbox" name="ID" value="@data.ID" class="checkBox custom-checkbox chkCheckBoxId" /></td>
                                        <td>@data.SERVICE_GROUP_NAME</td>
                                        <td>@data.SERVICE_GROUP_CODE</td>
                                        <td>@data.SERVICE_GROUP_DESC</td>
                                        <td style="width: 120px; ">@Html.Raw(CMSLIS.Common.Common.getTypeStatus(data.SERVICE_GROUP_STATUS))</td>
                                        <td class="td-actions">
                                            <a href="/CatalogSystem/ListGroupService?id=@data.ID" id="Edit"><i class="fa fa-edit edit"></i></a>
                                        </td>
                                        <td class="td-actions">
                                            <a href="/CatalogSystem/ListGroupServiceAddService?groupid=@data.ID" id="AddService"><i class="fa fa-plus-square-o"></i></a>
                                        </td>

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <button type="button" id="ListGroupServiceDelete" value="ListGroupServiceDelete" class="btn btn-danger mr-1 mb-2" style="width:100px;" onclick="return ConfirmDelete();"><i class="fa fa-remove"></i> Xóa </button>
                    <button type="button" id="ListGroupServicePublic" value="ListGroupServicePublic" class="btn btn-info mr-1 mb-2" style="width:100px;" onclick="return ConfirmPublic();"><i class="fa fa-check-square-o"></i> Duyệt </button>



                </div>
                <!-- End Content -->
            </section>
            <!-- End Sorting -->
        </div>
    }

</div>
<!-- End Content -->
                            .

<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>
