@using CMS_Core.Entity;
@model  CMSLIS.Models.SearchCategoryViewModel

@{
    ViewBag.Title = "Danh sách chuyên mục vote ";
    var VoteCates = (List<tbl_VoteCate>)ViewBag.VoteCates;
}



<script src="/Content/AdminLTE/js/Customer/ListVoteCate.js"></script>
<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>


<!-- Begin Content -->
<div class="box box-info">

    @using (Html.BeginForm("ListVoteCate", "CatalogSystem", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="box-body">
         
            <div class="col-sm-3">
                <div class="form-group align-content-center">
                    <label class="control-label col-xs-4" style="font-weight:bold; ">Trạng thái: </label>
                    <div class="col-xs-8">
                        @Html.DropDownListFor(m => m.Status, this.ViewBag.GetTypeStatus as List<SelectListItem>, new { @class = "form-control select2", onchange = "SelectedValue(this)" })
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label col-xs-4 control-label-invisible " style="font-weight:bold;  ">Tìm theo:  </label>
                    <div class="col-xs-7">
                        @Html.DropDownListFor(m => m.TypeKeyword, this.ViewBag.GetTypeKeywordVoteCate as List<SelectListItem>, new { @class = "form-control select2" })
                    </div>
                </div>
            </div>

       
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label col-xs-3 control-label-invisible " style="font-weight:bold;  ">Từ khóa:</label>
                    <div class="col-xs-8">
                        @Html.TextBoxFor(m => m.keyword, new { @class = "form-control", type = "SingleLine", placeholder = "Từ khóa tìm kiếm" })
                    </div>
                </div>
            </div>


            <div class="col-sm-2">
                <div class="form-group">
                    <button type="submit" id="cmdSearch" name="submit" value="SearchListseo" class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
                </div>
            </div>
        </div>
    }

    <div class="box box-info" style="margin-top: 5px;">
        <!-- Sorting -->
        <section class="panel">


            <!-- Begin Content -->
            <div class="panel-body">
                <div class="row" style="margin-bottom: 5px;margin-left: -5px;">
                    <a id="ListVoteCateNew" href="/CatalogSystem/ListVoteCateAdd" class="btn btn-info mr-1 mb-2"><i class="fa fa-plus-square-o"></i> Thêm mới (Ctrl + F1) </a>
                    <button type="button" id="ListVoteCateDelete" value="ListVoteCateDelete" class="btn btn-danger mr-1 mb-2" style="width:100px;" onclick="return ConfirmDelete();"><i class="fa fa-remove"></i> Xóa </button>
                    <button type="button" id="ListVoteCatePublic" value="ListVoteCatePublic" class="btn btn-info mr-1 mb-2" style="width:100px;" onclick="return ConfirmPublic();"><i class="fa fa-check-square-o"></i> Duyệt </button>
                </div>

                <table id="sorting-table" class="table table-bordered table-striped dataTable" role="grid">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                            <th>Loại vote</th>
                            <th>Mô tả</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Mã gói</th>
                            <th>Tên gói</th>
                            <th><span style="width:100px;">Trạng thái</span></th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (VoteCates != null)
                        {
                            foreach (var data in VoteCates)
                            {
                        <tr>
                            <td><input type="checkbox" name="ID" value="@data.ID" class="checkBox custom-checkbox chkCheckBoxId" /></td>
                            <td>@data.VoteCate</td>
                            <td>@data.VoteCateDesc</td>
                            <td>@data.datesartView</td>
                            <td>@data.dataendView</td>
                            <td>@data.CodeHIS</td>
                            <td>@data.CodeName</td>
                            <td style="width: 120px; ">@Html.Raw(CMSLIS.Common.Common.getTypeStatus(data.status))</td>
                            <td class="td-actions">
                                <a href="/CatalogSystem/ListVoteCateAdd?ID=@data.ID"><i class="fa fa-edit edit"></i></a>
                            </td>
                        </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </section>
        <!-- End Sorting -->
    </div>
</div>
<!-- End Content -->

<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>


