@model  CMS_Core.Entity.CMS_PARTNER
@{
    ViewBag.Title = "Thêm mới đối tác";
}

<script src="/Content/AdminLTE/js/Customer/partnerAdd.js"></script>
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>

<!-- Begin Form -->
<div class="box box-info">

    


    @using (Html.BeginForm("partnerAdd", "CatalogSystem", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Tên chuyên đối tác:<span class="required">*</span></label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_NAME, new { @class = "form-control", type = "SingleLine", placeholder = "Tên đối tác" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Mã đối tác<span class="required">*</span></label>
                <div class="col-xs-6">
                    @if (Model.ID != 0)
                    {
                        @Html.TextBoxFor(m => m.PARTNER_CODE, new { @class = "form-control", type = "SingleLine", placeholder = "egg: med cho đối tác https://medlatec.vn (3 ký tự)", disabled = "True" })
                        @Html.TextBoxFor(m => m.PARTNER_CODE, new { type = "hidden" })
                    }
                    else

                    {
                        @Html.TextBoxFor(m => m.PARTNER_CODE, new { @class = "form-control", type = "SingleLine", placeholder = "egg: med cho đối tác https://medlatec.vn (3 ký tự)" })
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Địa chỉ đối tác:<span class="required">*</span></label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_ADDRESS, new { @class = "form-control", type = "SingleLine", placeholder = "Địa chỉ đối tác" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Điện thoại:<span class="required">*</span></label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_MOBILE, new { @class = "form-control", type = "number", placeholder = "Điện thoại" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Email:<span class="required">*</span></label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_EMAIL, new { @class = "form-control", type = "email", placeholder = "Email" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Website</label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_WEBSITE, new { @class = "form-control", type = "SingleLine", placeholder = "Website" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Người đại diện:<span class="required">*</span></label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_SURROGATE, new { @class = "form-control", type = "SingleLine", placeholder = "Người đại diện" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Mobile người đại diện:</label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_SURROGATE_MOBILE, new { @class = "form-control", type = "number", placeholder = "Điện thoại người đại diện" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Vị trí người đại diện:</label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_SURROGATE_POSITION, new { @class = "form-control", type = "SingleLine", placeholder = "Vị trí người đại diện" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Giám đốc:</label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_MANAGER, new { @class = "form-control", type = "SingleLine", placeholder = "Giám đốc" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Email giám đốc:</label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_MANAGER_EMAIL, new { @class = "form-control", type = "email", placeholder = "Email giám đốc" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2" style="font-weight:bold; ">Mobile giám đốc:</label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.PARTNER_MANAGER_MOBILE, new { @class = "form-control", type = "number", placeholder = "Mobile giám đốc" })
                </div>
            </div>




            @Html.TextBoxFor(m => m.ID, new { @class = "checkbox-inline", Type = "hidden" })
            @Html.TextBoxFor(m => m.PARTNER_CREATE, new { @class = "checkbox-inline", Type = "hidden" })
            @Html.TextBoxFor(m => m.PARTNER_CREATE_DATE, new { @class = "checkbox-inline", Type = "hidden" })

            <div class="form-group text-center">
                <div class="col-xs-8">
                    <button type="submit" name="submit" id="SavePartnerAdd" value="SavePartnerAdd" class="btn btn-danger"><i class="fa fa-save"></i> Lưu (Alt + S)</button>
                    <a id="BackListPartner" href="/CatalogSystem/Partner" class="btn btn-primary"><i class="fa fa-backward"></i> Quay lại (Alt + Z) </a>
                </div>

            </div>

            </div>
    }
</div>
<!-- End Form -->

<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>


<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>
 