@model  CMSLIS.Models.PermissionControlViewModel
@using CMS_Core.Entity;
@{
    ViewBag.Title = "Phân quyền Control";
    CMS_Core.Common.ComboBoxFinal<cms_Menu> ComboBox = new CMS_Core.Common.ComboBoxFinal<cms_Menu>();
    var UserInfo = ((cms_Account)Session["UserInfo"]);
}


<script src="/Content/AdminLTE/js/Customer/GroupAccountPermissionControl.js"></script>
<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>


<!-- Begin Content -->
<div class="box box-info">


    @using (Html.BeginForm("GroupAccountPermissionControl", "System", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="box-body">
            <div class="row">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 " style="font-weight:bold;  ">Menu cha:  </label>
                        <div class="col-xs-8">
                            @Html.DropDownListFor(m => m.MenParent, ComboBox.GetComboBoxBySelected(" SELECT  menid,menname FROM cms_menu where menstatus = 2  and parentid = 0 and menId in ( select menId from Sys_GroupMenuPermission where GroupID = " + UserInfo.AccountTypeId + " ) order by menid asc ", "menid", "menname", Model.MenParent.ToString(), true), new { @class = "form-control select2", style = "width: 100%;", onchange = "SelectedValueChild(this)" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 " style="font-weight:bold;  ">Menu Con:  </label>
                        <div class="col-xs-8">
                            @Html.DropDownListFor(m => m.MenChild, ComboBox.GetComboBoxBySelected(" SELECT  menid,menname FROM cms_menu where menstatus = 2  and parentid != 0  and parentid = " + Model.MenParent + "  and menId in ( select menId from Sys_GroupMenuPermission where GroupID = " + UserInfo.AccountTypeId + " ) order by menid asc ", "menid", "menname", Model.MenChild.ToString(), true), new { @class = "form-control select2", style = "width: 90%;", id = "MenChild", name = "MenChild", onchange = "SelectedValue(this)" })
                            @Html.TextBoxFor(m => m.GroupID, new { @class = "checkbox-inline", Type = "hidden" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <button type="submit" id="cmdSearch" name="submit" value="SearchGroupAccountPermissionControl" class="btn btn-primary"><i class="fa fa-search"></i>  Tìm kiếm</button>
                        &nbsp;
                        <button type="submit" id="SaveGroupAccountPermissionControl" name="submit" value="SaveGroupAccountPermissionControl" class="btn btn-danger" style="width:105px"><i class="fa fa-save"></i> Lưu</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Sorting -->
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">
                    Kết quả tìm kiếm

                </h2>
            </header>
            <div class="panel-body">

                <table class="table table-bordered table-striped dataTable" role="grid" id="example2">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" title="Trạng thái truy cập" />&nbsp; Truy cập</th>
                            <th>Menu</th>
                            <th>ID Control</th>
                            <th>Tên Control</th>
                            <th>Nhóm</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model._GroupMenuControlPermissions != null)
                        {
                            for (int i = 0; i < Model._GroupMenuControlPermissions.Count; i++)

                            {
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(m => m._GroupMenuControlPermissions[i].CheckPermision, new { @class = "checkBox custom-checkbox chkCheckBoxId" })


                                    </td>
                                    <td>@Model._GroupMenuControlPermissions[i].MenLink </td>
                                    <td>@Model._GroupMenuControlPermissions[i].ControlID</td>
                                    <td>@Model._GroupMenuControlPermissions[i].ControlName</td>
                                    <td>@Model._GroupMenuControlPermissions[i].GroupName</td>


                                    @Html.TextBoxFor(m => m._GroupMenuControlPermissions[i].ID, new { @class = "checkbox-inline", Type = "hidden" })
                                    @Html.TextBoxFor(m => m._GroupMenuControlPermissions[i].MenID, new { @class = "checkbox-inline", Type = "hidden" })
                                    @Html.TextBoxFor(m => m._GroupMenuControlPermissions[i].GroupID, new { @class = "checkbox-inline", Type = "hidden" })
                                    @Html.TextBoxFor(m => m._GroupMenuControlPermissions[i].ControlID, new { @class = "checkbox-inline", Type = "hidden" })
                                    @Html.TextBoxFor(m => m._GroupMenuControlPermissions[i].MenLink, new { @class = "checkbox-inline", Type = "hidden" })

                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </section>
        <!-- End Sorting -->
    }

</div>
<!-- End Content -->

<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>


<script src="/Content/AdminLTE/js/adminlte.js"></script>
<script src="/Content/AdminLTE/js/init.js"></script>

