@using CMS_Core.Entity;
@model  CMSLIS.Models.SearchNewsViewModel
@{
    ViewBag.Title = "Danh sách bài nghiên cứu";
    var cms_Scientists = (List<cms_Scientist>)ViewBag.cms_Scientists;
    CMS_Core.Common.ComboBoxFinal<cms_Scientist_Cate> cmsScientistCate = new CMS_Core.Common.ComboBoxFinal<cms_Scientist_Cate>();
}




<script src="/Content/AdminLTE/js/Customer/ListScientist.js"></script>
<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>


<style>

    /*  */

    #preview {
        position: absolute;
        border: 1px solid #ccc;
        background: #333;
        padding: 5px;
        display: none;
        color: #fff;
    }

    /*  */
</style>


<div class="box box-info">
    @using (Html.BeginForm("ListScientist", "News", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {


        @Html.AntiForgeryToken()
        <div class="box-body">

            <div class="form-group row ">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="control-label col-xs-2 " style="font-weight:bold;  ">Từ ngày:</label>
                        <div class="col-xs-4">
                            <div class="input-group date" data-plugin-datepicker data-date-format="dd/mm/yyyy">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.tungay, new { @class = "form-control", placeholder = "Từ ngày", id = "date", name = "date" })
                            </div>
                        </div>

                        <label class="control-label col-xs-2 " style="font-weight:bold;  ">Đến ngày:</label>
                        <div class="col-xs-4">
                            <div class="input-group date" data-plugin-datepicker data-date-format="dd/mm/yyyy">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.denngay, new { @class = "form-control", placeholder = "Đến ngày", id = "dateDenngay", name = "dateDenngay" })
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4" style="font-weight:bold; ">Trạng thái: </label>
                        <div class="col-xs-8">
                            @Html.DropDownListFor(m => m.Status, this.ViewBag.GetTypeStatus as List<SelectListItem>, new { @class = "form-control select2", onchange = "SelectedValue(this)" })
                        </div>


                    </div>
                </div>

            </div>
            <div class="form-group row ">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="control-label col-xs-3 control-label-invisible " style="font-weight:bold; ">CM ảnh:  </label>
                        <div class="col-xs-3">
                            @Html.DropDownListFor(m => m.ParrenId, cmsScientistCate.GetComboBoxBySelected("select ID,ScientistTitle   from [dbo].[cms_Scientist_Cate] where status = 2", "ID", "ScientistTitle", Model.ParrenId.ToString(), true), new { @class = "form-control select2", onchange = "SelectedValue(this)" })
                        </div>

                        <label class="control-label col-xs-2 control-label-invisible " style="font-weight:bold; ">Từ khóa:  </label>
                        <div class="col-xs-4">
                            @Html.TextBoxFor(m => m.keyword, new { @class = "form-control", type = "SingleLine", placeholder = "Từ khóa tìm kiếm" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="submit" id="cmdSearch" name="submit" value="SearchListScientist" class="btn btn-primary"><i class="fa fa-search"></i>  Tìm kiếm</button>
                    </div>
                </div>

            </div>


        </div>
    }

    <div class="box box-info" style="margin-top: 5px;">
        <section class="panel">
            <!-- Begin Content -->
            <div class="panel-body">
                <div class="row" style="margin-bottom: 5px;margin-left: -5px;">
                    <button type="button" id="ListScientistAdd" value="ListScientistAdd" class="btn btn-info mr-1 mb-2" onclick="return ConfirmAdd();"><i class="fa fa-plus-square-o"></i> Thêm mới (Ctrl + F1) </button>
                    <button type="button" id="ListScientistDelete" value="ListScientistDelete" class="btn btn-danger mr-1 mb-2" style="width:100px;" onclick="return ConfirmDelete();"><i class="fa fa-remove"></i> Xóa </button>
                    <button type="button" id="ListScientistPublic" value="ListScientistPublic" class="btn btn-info mr-1 mb-2" style="width:100px;" onclick="return ConfirmPublic();"><i class="fa fa-check-square-o"></i> Duyệt </button>
                </div>

                <!-- Sorting -->
                <table id="sorting-table" class="table table-bordered table-striped dataTable" role="grid">
                    <thead>
                        <tr>

                            <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                            <th>Ảnh</th>
                            <th>Tên đề tài</th>
                            <th>Thời gia thực hiện</th>
                            <th>Người thực hiện</th>
                            <th>Đơn vị</th>
                            <th>Hội đồng nghiệm thu</th>
                            <th><span style="width:100px;">Trạng thái</span></th>
                            <th id="edit">Edit</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (cms_Scientists != null)
                        {
                            foreach (var data in cms_Scientists)
                            {
                        <tr>
                            <td><input type="checkbox" name="ID" value="@data.ID" class="checkBox custom-checkbox chkCheckBoxId" /></td>
                            <td>
                                <a href="@CMSLIS.Common.Common.getImageLink()@data.newsImages" class="preview">
                                    <Img src='@CMSLIS.Common.Common.getImageLink()@data.newsImages' height="30px" width="30px" />
                                </a>
                            </td>
                            <td>
                                <span class="text-primary">
                                    @data.ScientistTitle
                                </span>
                            </td>

                            <td>@data.DatePerform</td>
                            <td>@data.PersionPerform</td>
                            <td>@data.UnitPerform</td>
                            <td>@data.CommissioningCommittee</td>                             
                            <td>@Html.Raw(CMSLIS.Common.Common.getTypeStatus(data.Status))</td>
                            <td class="td-actions">
                                <a href="/News/ListScientistAdd?ID=@data.ID"><i class="fa fa-edit edit"></i></a>
                            </td>
                        </tr>

                            }
                        }
                    </tbody>
                </table>

                <!-- End Sorting -->

            </div>
            <!-- End Content -->

        </section>
    </div>
</div>


<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<script src="/Content/AdminLTE/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>

<script src="/Content/AdminLTE/js/adminlte.js"></script>
<script src="/Content/AdminLTE/js/init.js"></script>


