@model  CMS_Core.Entity.cms_Scientist
@using CMS_Core.Entity;
@{
    ViewBag.Title = "Thêm mới bài viết khoa học";
    CMS_Core.Common.ComboBoxFinal<ClassComboBox> ComboBox = new CMS_Core.Common.ComboBoxFinal<ClassComboBox>();

}



<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>

<script src="/Content/AdminLTE/ckeditor/ckeditor.js"></script>


<div class="box box-info">
    @using (Html.BeginForm("ListScientistAdd", "News", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="box-body">
            <!-- Begin Form -->
            <!-- Begin left page -->
            <div class="col-md-9">
                <div class="box box-info">
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label class="control-label col-xs-2" style="font-weight:bold; ">Tiêu đề <span class="required">*</span> </label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.ScientistTitle, new { @class = "form-control", type = "SingleLine", placeholder = "Tiêu đề", id = "newsName", name = "newsName", onkeyup = "CreateSlug();" })
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-2" style="font-weight:bold; ">Sapo<span class="required">*</span> </label>
                            <div class="col-xs-10">
                                @Html.TextAreaFor(m => m.scientistDesc, new { @class = "form-control", type = "SingleLine", placeholder = "Vắn tắt", rows = "3" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                @Html.TextAreaFor(m => m.newsContent, new { @class = "form-control", type = "SingleLine", placeholder = "Vắn tắt", rows = "800", id = "content", name = "content" })
                                <script>
                                    //<![CDATA[
                                    CKEDITOR.replace('content',
                                        {
                                            height: '560px',
                                            filebrowserBrowseUrl: '/Content/assets/Themes/ckfinder/ckfinder.html',
                                            filebrowserImageBrowseUrl: '/Content/assets/Themes/ckfinder/ckfinder.html?type=Images',

                                            filebrowserUploadUrl: '/Content/assets/Themes/ckfinder/connector?command=QuickUpload&type=Files&currentFolder=~/userfiles/images/',
                                            filebrowserImageUploadUrl: '/Content/assets/Themes/ckfinder/connector?command=QuickUpload&type=Files&currentFolder=~/userfiles/images/'
                                        });
                                    //]]>
                                </script>
                            </div>
                        </div>


                        <div class="form-group">

                            <label class="control-label col-xs-2" style="font-weight:bold; ">Thời gian xuất bản:<span class="required">*</span> </label>
                            <div class="col-xs-3">
                                <div class="input-group" data-plugin-datepicker data-date-format="dd/MM/yyyy HH:mm:ss">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    @Html.TextBoxFor(m => m.datepubView, new { @class = "form-control", type = "text", placeholder = "Thời gian xuất bản", id = "dateAdd", name = "dateAdd" })
                                </div>
                            </div>


                        </div>





                        <div class="form-group">
                            <label class="col-lg-8 form-control-label d-flex"> </label>
                            <div class="col-lg-6">
                                <button type="submit" name="submit" value="SaveAdd" id="SaveAdd" class="btn btn-danger" style="width:120px;">Lưu</button>
                                <a href="/News/ListScientist" id="backAdd" class="btn btn-primary" style="width:120px;"> Back </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            <!-- End left page -->
            <!-- Begin right page -->

            <div class="col-md-3">
                <div class="box box-info">

                    <h4 class="text-center mt-3 mb-1 ">Chuyên khoa</h4>
                    @Html.DropDownListFor(m => m.ScientistCae, ComboBox.GetComboBoxBySelected("SELECT    ID as  idfield, ScientistTitle as namefield  FROM     cms_Scientist_Cate where status = 2   ", "idfield", "namefield", Model.ScientistCae.ToString(), true), new { @class = "form-control select2", style = "width: 100%;", onchange = "SelectedValue(this)" })

                    <p class="text-center control-label" style="margin:6px 0 2px 10px;">Ảnh đại diện</p>

                    <input type="file" name="ImageFile" id="ImageFile" class="form-control" />
                    @if (@Model.newsImages != null)
                    {
                        <Img src='@CMSLIS.Common.Common.GetPathImage(Model.newsImages)' height="40px" width="40px" />
                        @Html.TextBoxFor(m => m.newsImages, new { @class = "checkbox-inline", Type = "hidden" })

                    }

                    <p class="text-center control-label" style="margin:6px 0 2px 10px;">Thời gian thực hiện <span class="required">*</span></p>
                    @Html.TextBoxFor(m => m.DatePerform, new { @class = "form-control", type = "SingleLine", placeholder = "Thời gian thực hiện" })



                    <p class="text-center control-label" style="margin:6px 0 2px 10px;">Người thực hiện <span class="required">*</span></p>
                    @Html.TextBoxFor(m => m.PersionPerform, new { @class = "form-control", type = "SingleLine", placeholder = "Người thực hiện" })


                    <p class="text-center control-label" style="margin:6px 0 1px 10px;">Đơn vị <span class="required">*</span></p>
                    @Html.TextBoxFor(m => m.UnitPerform, new { @class = "form-control", type = "SingleLine", placeholder = "Đơn vị" })

                    <p class="text-center control-label" style="margin:6px 0 1px 10px;">Hội đồng nghiệm thu <span class="required">*</span></p>
                    @Html.TextBoxFor(m => m.CommissioningCommittee, new { @class = "form-control", type = "SingleLine", placeholder = "Hội đồng nghiệm thu" })


                    <p class="text-center control-label" style="margin:6px 0 1px 10px;">Keyword<span class="required">*</span></p>
                    @Html.TextBoxFor(m => m.newsKeyword, new { @class = "form-control", type = "SingleLine", placeholder = "Keyword" })




                </div>
            </div>

            @Html.TextBoxFor(m => m.ID, new { Type = "hidden" })


            <!-- End right page -->
        </div>
    }

</div>



<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />


<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>

<script src="/Content/assets/vendors/js/datepicker/moment.min.js"></script>
<script src="/Content/assets/vendors/js/datepicker/daterangepicker.js"></script>



<script src="/Content/AdminLTE/js/Customer/ListScientistAdd.js"></script>



<script src="/Content/AdminLTE/js/adminlte.js"></script>
<script src="/Content/AdminLTE/js/init.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>



<script>


    function CreateSlug() {
        var text = $('#newsName').val();
        var text_create;
        text_create = text.replace(/à|á|á|ạ|ạ|ả|ắ|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|á|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ộ|ổ|ỗ|ơ|ọ|ờ|ớ|ợ|ở|ọ|ỡ.+/g, "o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e").replace(/ì|í|ị|ỉ|ì|ĩ/g, "i");
        $('#Slug').val(text_create);
    }

</script>
<!-- End Page Snippets -->
