@model  CMS_Core.Models.ExportStoreViewModel
@using CMS_Core.Entity;
@{
    /**/

    ViewBag.Title = "Thông tin phiếu xuất";

    int count = 1;
    Layout = null;
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link href="/Content/AdminLTE/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Content/AdminLTE/css/font-awesome.min.css" rel="stylesheet" />
<link href="/Content/AdminLTE/css/AdminLTE.css" rel="stylesheet" />

<script src="/Content/AdminLTE/js/jquery-2.1.1.min.js"></script>
<script src="/Content/AdminLTE/js/bootstrap.min.js"></script>


<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="/Content/AdminLTE/stylesheets/theme.css" />


<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>
<body class="hold-transition" style="background-color: white !important;">
    <!-- Begin Content -->
    <section role="main" class="content-body" style="background-color:#ffffff; ">
        <div class="row" style="background-color:#ffffff;margin-left:5px; margin-right:5px;">

            <div class="form-group row ">
                <div class="form-group row ">
                    <div class="col-xs-2" style="margin-left:3px;">
                        <div class="form-group">
                            <img src="~/Content/AdminLTE/images/logo.jpg" width="90px" style="margin-left:3px;" />
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div style="height:10px;">

                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-12 text-center " style="font-weight:bold;font-size:16px;  ">PHÒNG KHÁM ĐA KHOA DUNG CHÂU</label>
                            <label class="control-label col-xs-12 text-center " style="font-weight:bold;font-size:16px;  ">ĐT: 0210. 3816. 196</label>
                            <div style="height:16px;">

                            </div>


                        </div>
                         
                         
                    </div>



                </div>



                <div class="col-sm-12" style="height:10px;">

                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 text-center " style="font-weight:bold; font-size:18px; ">PHIẾU XUẤT THUỐC: @Model._MEDICINE_EXPORT_STORE.CMS_MEDICINE_EXPORT_STORE_CODE  </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 text-center " style="font-weight:bold; ">NGÀY XUẤT: @Model._MEDICINE_EXPORT_STORE.CREATEDATE.ToString("dd/MM/yyyy HH:mm")  </label>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 text-center " style="font-weight:bold;  ">Mã KH: @Model._MEDICINE_EXPORT_STORE.EMPLOYEECODE   </label>
                    </div>
                </div>

            </div>

            <div class="form-group row ">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-12 " style="font-weight:bold; font-size:16px;">Khách hàng: @Model._MEDICINE_EXPORT_STORE.CUSTOMER_NAME.ToUpper() </label>

                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-5 " style="font-weight:bold;  font-size:16px;">Giới tính: @CMSLIS.Common.Common.GetGENDERName(Model._MEDICINE_EXPORT_STORE.CUSTOMER_GENDER.ToString())  </label>

                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-12 " style="font-weight:bold;font-size:16px;">Điện thoại: @Model._MEDICINE_EXPORT_STORE.CUSTOMER_MOBILE </label>

                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-5 " style="font-weight:bold; font-size:16px; ">Email: @Model._MEDICINE_EXPORT_STORE.CUSTOMER_EMAIL  </label>

                    </div>
                </div>
            </div>

            <div class="form-group row ">

                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 " style="font-weight:bold; font-size:16px; ">Địa chỉ: @Model._MEDICINE_EXPORT_STORE.CUSTOMER_ADDRESS  </label>
                    </div>
                </div>
            </div>



            <div class="form-group row ">

                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-12 " style="font-weight:bold; font-size:16px; ">Tổng tiền: @CMSLIS.Common.Common.FmtAmt(Model._MEDICINE_EXPORT_STORE.TOTAL_PRICE) (VNĐ) </label>
                    </div>
                </div>

                <div class="col-xs-8">
                    <div class="form-group">
                        <label class="control-label col-xs-12 " style="font-weight:bold; font-size:16px; ">Ghi chú: @Model._MEDICINE_EXPORT_STORE.CMS_MEDICINE_EXPORT_STORE_NOTE  </label>
                    </div>
                </div>

            </div>


            <div class="form-group row ">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 text-center " style="font-weight:bold;font-size:18px;  "> DANH SÁCH THUỐC</label>
                    </div>
                </div>
            </div>


            <!-- Begin Content -->
            <div class="form-group row ">
                <table id="sorting-table" class="table table-bordered table-striped mb-none">
                    <thead>
                        <tr>
                            <th style="border: 1px solid black;font-weight:bold; ">STT</th>
                            <th style="border: 1px solid black;font-weight:bold; " id="MEDICINE_NAME">Tên thuốc</th>
                            @*<th style="border: 1px solid black;font-weight:bold; " id="DATEOFMANUFACTURE">Ngày SX</th>
                            <th style="border: 1px solid black;font-weight:bold; " id="EXPIRYDATE">Hạn SD</th>*@
                            <th style="border: 1px solid black;font-weight:bold; " id="MEDICINE_AMOUNT">Số lượng</th>
                            <th style="border: 1px solid black;font-weight:bold; " id="MEDICINE_EXPIRED">Giá </th>
                            <th style="border: 1px solid black;font-weight:bold; " id="Total">Tổng tiền </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model._MEDICINE_EXPORT_DETAILS != null)
                        {
                            foreach (var data in Model._MEDICINE_EXPORT_DETAILS)
                            {
                                <tr>
                                    <td style="border: 1px solid black;">@(count++) </td>
                                    <td style="border: 1px solid black;font-weight:bold;" class="MEDICINE_NAME1">@data.MEDICINE_NAME</td>
                                    @*<td style="border: 1px solid black;" class="MEDICINE_CREATE1">@CMSLIS.Common.Common.ReFmtDate(data.MEDICINE_CREATE)</td>
                                    <td style="border: 1px solid black;" class="MEDICINE_EXPIRED1">@CMSLIS.Common.Common.ReFmtDate(data.MEDICINE_EXPIRED)</td>*@
                                    <td style="border: 1px solid black;text-align:right;" class="MEDICINE_AMOUNT1">@CMSLIS.Common.Common.FmtAmt(data.MEDICINE_AMOUNT)</td>
                                    <td style="border: 1px solid black;text-align:right;" class="MEDICINE_PRICE1">@CMSLIS.Common.Common.FmtAmt(data.MEDICINE_PRICE)</td>
                                    <td style="border: 1px solid black;text-align:right;">@CMSLIS.Common.Common.FmtAmt(Convert.ToDouble(data.MEDICINE_PRICE) * Convert.ToDouble(data.MEDICINE_AMOUNT))</td>
                                </tr>

                            }
                        }

                    </tbody>

                    <tr>
                        <th style="border: 1px solid black; font-weight:bold; " colspan="3"></th>

                        <th style="border: 1px solid black;font-weight:bold; ">Tổng tiền:</th>
                        <th style="border: 1px solid black;font-weight:bold; text-align:right;"> @CMSLIS.Common.Common.FmtAmt(Model._MEDICINE_EXPORT_STORE.TOTAL_PRICE) (VNĐ) </th>


                    </tr>

                </table>



            </div>
            <!-- End Content -->



        </div>


        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-xs-6 form-group text-center">
                <span style="font-weight:bold;font-size:16px;">Khách hàng</span>
                
                <div style="height:4px;">

                </div>
                (Ký, ghi rõ họ tên)
            </div>

            <div class="col-xs-6 form-group text-center">
                <span style="font-weight:bold;font-size:16px;">Thu ngân</span>
                 
                <div style="height:4px;">

                </div>
                (Ký, ghi rõ họ tên)
            </div>

        </div>


    </section>
    <!-- End Content -->

    </body>

    <script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
    <script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/Content/AdminLTE/javascripts/theme.js"></script>


    <!-- Theme Initialization Files -->
    <script src="/Content/AdminLTE/javascripts/theme.init.js"></script>
