@model  CMSNEW.Models.pharmacyStoreViewModels
@using CMS_Core.Entity;
@{
    ViewBag.Title = "Xuất thuốc";
    CMS_Core.Common.ComboBoxFinal<ClassComboBox> ComboBoxClass = new CMS_Core.Common.ComboBoxFinal<ClassComboBox>();
    CMS_Core.Common.ComboBoxFinal<CMS_PARTNER> ComboBox = new CMS_Core.Common.ComboBoxFinal<CMS_PARTNER>();
    var UserInfo = ((cms_Account)Session["UserInfo"]);
    var CMS_MEDICINE_EXPORT_DETAILS = (List<CMS_MEDICINE_EXPORT_DETAIL>)ViewBag.CMS_MEDICINE_EXPORT_DETAILS;

}


<script src="/Content/AdminLTE/js/Customer/ExportStore.js"></script>
<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>

<!-- Begin Content -->
<div class="box box-info">


    @using (Html.BeginForm("ListMedicineExports", "pharmacyStore", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        <div class="box-body">

            <div class="form-group row ">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 control-label-invisible " style="font-weight:bold;  ">Từ ngày: </label>
                        <div class="col-xs-7">
                            <div class="input-group date" data-plugin-datepicker data-date-format="dd/mm/yyyy">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.startdate, new { @class = "form-control", placeholder = "Từ ngày", id = "date", name = "date" })
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 control-label-invisible " style="font-weight:bold;  ">Đến ngày: </label>
                        <div class="col-xs-7">
                            <div class="input-group date" data-plugin-datepicker data-date-format="dd/mm/yyyy">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.enddate, new { @class = "form-control", placeholder = "Đến ngày", id = "dateDenngay", name = "dateDenngay" })
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <button type="submit" id="cmdSearch" name="submit" value="SearchListMedicineExports" class="btn btn-primary"><i class="fa fa-search"></i>  Tìm kiếm</button>
                    </div>
                </div>

            </div>
        </div>
    }

    <div class="box box-info" style="margin-top: 5px;">
        <section class="panel">


            <!-- Begin Content -->
            <div class="panel-body">
                <table id="sorting-table" class="table table-bordered table-striped dataTable" role="grid">
                    <thead>
                        <tr>

                            <th id="CUSTOMER_NAME">Tên thuốc</th>
                            <th id="CUSTOMER_MOBILE">Mã thuốc</th>
                            <th id="CUSTOMER_EMAIL">Số lượng đã bán</th>
                            <th id="CUSTOMER_EMAIL">Giá tiền</th>
                            <th id="CUSTOMER_EMAIL">Tổn tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (CMS_MEDICINE_EXPORT_DETAILS != null)
                        {
                            foreach (var data in CMS_MEDICINE_EXPORT_DETAILS)
                            {
                                <tr>

                                    <td>@data.MEDICINE_NAME</td>
                                    <td>@data.MEDICINE_ID</td>
                                    <td class="text-right">@CMSLIS.Common.Common.FmtAmt(data.MEDICINE_TOTAL)</td>
                                    <td class="text-right">@CMSLIS.Common.Common.FmtAmt(data.MEDICINE_PRICE)</td>
                                    <td class="text-right">@CMSLIS.Common.Common.FmtAmt(data.MEDICINE_PRICE * data.MEDICINE_TOTAL)</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <!-- End Content -->

        </section>
        <!-- End Sorting -->
    </div>
</div>
<!-- End Content -->
    .


<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<script src="/Content/AdminLTE/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>
