@using CMS_Core.Entity;
@model  CMS_Core.Models.PatientViewModel
@{
    ViewBag.Title = "Danh sách chờ khám";
    var CMS_PATIENTINFOS = (List<CMS_PATIENTINFO>)ViewBag.CMS_PATIENTINFOS;
    var UserInfo = ((cms_Account)Session["UserInfo"]);

    CMS_Core.Common.ComboBoxFinal<ClassComboBox> ComboBox = new CMS_Core.Common.ComboBoxFinal<ClassComboBox>();

}

<script src="/Content/AdminLTE/js/Customer/ListPatientsWeirdo.js"></script>
<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>



<!-- Begin Content -->
<div class="box box-info">
    @using (Html.BeginForm("ListPatientsWeirdo", "Clinic", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        <div class="box-body">
            <div class="form-group row ">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 " style="font-weight:bold;  ">Từ ngày :  </label>
                        <div class="col-xs-7">
                            <div class="input-group date" data-plugin-datepicker data-date-format="dd/mm/yyyy">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.tungay, new { @class = "form-control", placeholder = "Từ ngày", id = "date", name = "date" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 " style="font-weight:bold;  ">Đến ngày :  </label>
                        <div class="col-xs-7">
                            <div class="input-group date" data-plugin-datepicker data-date-format="dd/mm/yyyy">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.denngay, new { @class = "form-control", placeholder = "Đến ngày", id = "dateDenngay", name = "dateDenngay" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 control-label-invisible " style="font-weight:bold;  ">Loại dịch vụ :  </label>
                        <div class="col-xs-7">

                            @Html.DropDownListFor(m => m.SERVICETYPE, ComboBox.GetComboBoxBySelected("SELECT   id  as idfield,    NAME as namefield FROM    CMS_SERVICE_TYPE where  STATUS = 2 and id != 0  order by id asc", "idfield", "namefield", Model.SERVICETYPE.ToString(), true), new { @class = "form-control select2", onchange = "SelectedValueDEPARTMENTSID(this)", ID = "SERVICETYPE", name = "SERVICETYPE" })


                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 control-label-invisible " style="font-weight:bold;  ">Loại :  </label>
                        <div class="col-xs-7">

                            @Html.DropDownListFor(m => m.Weirdo, ComboBox.GetComboBoxBySelected("SELECT   id  as idfield,    category_desc as namefield FROM    CATEGORYS where category_parrent = 1741 and CATEGORYS_STATUS = 2 and  PARTNERID = " + UserInfo.PARTNERID + "  order by id asc", "idfield", "namefield", Model.Weirdo.ToString(), true), new { @class = "form-control select2", onchange = "SelectedValueDEPARTMENTSID(this)", ID = "Weirdo", name = "Weirdo" })


                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group row ">



                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-xs-4 control-label-invisible " style="font-weight:bold;  ">Tìm theo:  </label>
                        <div class="col-xs-7">
                            @Html.DropDownListFor(m => m.TypeKeyword, this.ViewBag.GetTypeKeyword as List<SelectListItem>, new { @class = "form-control select2" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-xs-3 control-label-invisible " style="font-weight:bold;  ">Từ khóa:</label>
                        <div class="col-xs-8">
                            @Html.TextBoxFor(m => m.keyword, new { @class = "form-control", type = "SingleLine", placeholder = "Từ khóa tìm kiếm" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.channel, new { @class = "checkbox-inline", Type = "hidden" })
                        <button type="submit" id="cmdSearch" name="submit" value="SearchListPatientsWeirdo" class="btn btn-primary   "><i class="fa fa-search"></i>  Tìm kiếm</button>
                    </div>
                </div>

            </div>



        </div>
    }

    <div class="box box-info" style="margin-top: 5px;">
        <!-- Sorting -->
        <section class="panel">

            <!-- Begin Content -->
            <div class="panel-body">

                <div class="row" style="margin-bottom: 6px;margin-left: -5px;">                  
                    <button type="button" id="ListPatientsWeirdoDelete" value="ListPatientsWeirdoDelete" class="btn btn-danger mr-1 mb-2" style="width:100px;" onclick="return ConfirmDelete();"><i class="fa fa-remove"></i> Xóa </button>                 
                </div>


                <table id="sorting-table" class="table table-bordered table-striped mb-none">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                            <th id="PID">Mã Khách hàng</th>
                            <th id="patientname">Họ và tên</th>
                            <th id="gender">Giới tính</th>
                            <th id="age">Tuổi</th>
                            <th id="mobile">SĐT</th>

                            <th id="address">Địa chỉ</th>
                            <th id="note">Ghi chú</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (CMS_PATIENTINFOS != null)
                        {
                            foreach (var data in CMS_PATIENTINFOS)
                            {
                        <tr>

                            <td><input type="checkbox" name="ID" value="@data.PID" class="checkBox custom-checkbox chkCheckBoxId" /></td>
                            <td>
                                <a href="/Clinic/PatientHistory?pid=@data.PID&Token=@CMSLIS.Common.Common.generalKeyPrivate(data.PID.ToString())" id="Edit">  @data.PID</a>


                            </td>
                            <td> <a href="/Clinic/PatientHistory?pid=@data.PID&Token=@CMSLIS.Common.Common.generalKeyPrivate(data.PID.ToString())" id="Edit">  @data.PATIENTNAME </a> </td>


                            <td>@CMSLIS.Common.Common.GetGENDERName(data.SEX.ToString())</td>
                            <td>@data.AGE</td>
                            <td>@data.PHONE</td>

                            <td>@data.ADDRESS</td>
                            <td>@data.WEIRDO_NOTE</td>



                        </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
            <!-- End Content -->
        </section>
        <!-- End Sorting -->
    </div>
</div>
<!-- End Content -->

<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<script src="/Content/AdminLTE/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>



