@model  CMS_Core.Models.PatientAddViewModel
@using CMS_Core.Entity;
@{
    var UserInfo = ((cms_Account)Session["UserInfo"]);
    CMS_Core.Common.ComboBoxFinal<ClassComboBox> ComboBox = new CMS_Core.Common.ComboBoxFinal<ClassComboBox>();

}


<!-- Head Libs -->
<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>


<!-- Begin Content -->
<div class="box box-info">





    @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@



    @using (Html.BeginForm("ListPatientsAdd", "Clinic", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {

        @Html.AntiForgeryToken()
        <!-- Main content -->
        <section class="content">
            <div class="col-md-12">

                <div class="col-md-9">

                    <ul class="widget-header nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item active">
                            <a class="nav-link" id="just-tab-1" data-toggle="tab" href="#j-tab-1" role="tab" aria-controls="j-tab-1" aria-selected="true"> <i class="fa fa-heart"></i> Thông tin bệnh nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="just-tab-3" data-toggle="tab" href="#j-tab-3" role="tab" aria-controls="j-tab-3" aria-selected="false"> <i class="fa fa-h-square"></i> Tiền sử bệnh</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="just-tab-2" data-toggle="tab" href="#j-tab-2" role="tab" aria-controls="j-tab-2" aria-selected="false"> <i class="fa fa-warning"></i> Dị ứng</a>
                        </li>
                        @if (Model.PATIENTINFO.PID != 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="just-tab-4" data-toggle="tab" href="#j-tab-4" role="tab" aria-controls="j-tab-4" aria-selected="false"> <i class="fa fa-calendar-plus-o "></i> Lịch sử khám</a>
                            </li>
                        }
                    </ul>

                    @*<div class="widget-header bordered no-actions d-flex align-items-center">
                            <h4>Cập nhật thông tin</h4>
                        </div>*@


                    <div class="tab-content" style="min-height: 480px;">

                        <div class="tab-pane active" id="j-tab-1" role="tabpanel" aria-labelledby="base-tab-1">



                            <div class="col-12 ml-auto" style="margin-top: -10px;margin-bottom: -5px;">
                                <div class="section-title mt-3 mb-3">
                                    <h4 class="text-bold">1. Thông tin bệnh nhân</h4>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Họ tên:<span class="required">*</span></label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.PATIENTNAME, new { @class = "form-control", type = "SingleLine", placeholder = "Họ tên", autocomplete = "false" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Giới tính:</label>
                                        <div class="col-xs-9">
                                            @Html.DropDownListFor(m => m.PATIENTINFO.SEX, ComboBox.GetComboBoxBySelected("SELECT   category_name  as idfield,    category_desc as namefield FROM  dm_gioitinh where categorys_status = 2", "idfield", "namefield", Model.PATIENTINFO.SEX.ToString(), false), new { @class = "form-control select2", onchange = "SelectedValueSEX(this)" })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Cân nặng:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.weight, new { @class = "form-control", type = "number", placeholder = "Cân nặng", autocomplete = "false", id = "weight" })
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="form-group row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Ngày Sinh:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.BIRTHDAYVIEW, new { @class = "form-control", id = "date", name = "date" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Tuổi:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.AGE, new { @class = "form-control", type = "number", placeholder = "Tuổi" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Tỉnh:</label>
                                        <div class="col-xs-9">
                                            @Html.DropDownListFor(m => m.PATIENTINFO.CITY, ComboBox.GetComboBoxBySelected("SELECT   id  as idfield,    category_desc as namefield FROM  DM_TINHTHANH where categorys_status = 2", "idfield", "namefield", Model.PATIENTINFO.CITY.ToString(), false), new { @class = "form-control select2", ID = "city", onchange = "SelectedValueTinh(this)" })

                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="form-group row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Huyện:</label>
                                        <div class="col-xs-9">
                                            @Html.DropDownListFor(m => m.PATIENTINFO.DISTRICT, ComboBox.GetComboBoxBySelected("SELECT   id  as idfield,    category_desc as namefield FROM  DM_QUANHUYEN where categorys_status = 2 and tinhthanh_id =   " + Model.PATIENTINFO.CITY, "idfield", "namefield", Model.PATIENTINFO.DISTRICT.ToString(), true), new { @class = "form-control select2", id = "huyen", onchange = "SelectedValuehuyen(this)" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="control-label col-xs-1 col-xs-1-5 " style="font-weight:bold;  ">Địa chỉ:</label>
                                        <div class="col-xs-10 col-xs-10-5">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.ADDRESS, new { @class = "form-control", type = "SingleLine", placeholder = "Địa chỉ", autocomplete = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group row">


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Di động:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.PHONE, new { @class = "form-control", type = "number", placeholder = "Di động" })

                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Cố định:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.PHONE1, new { @class = "form-control", type = "number", placeholder = "Cố định" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Email:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.EMAILADDRESS, new { @class = "form-control", type = "email", placeholder = "Email", autocomplete = "true" })
                                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>



                            </div>

                            <div class="form-group row">


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Số CMT:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.IDENTIFICATION, new { @class = "form-control", type = "number", placeholder = "Số chứng minh thư", autocomplete = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Ngày cấp:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.IDENTIFICATION_DATEVIEW, new { @class = "form-control", id = "dateCMT", name = "dateCMT" })
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Nơi cấp:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.IDENTIFICATION_ISSUED, new { @class = "form-control", type = "SingleLine", placeholder = "Nơi cấp", autocomplete = "true" })
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Hộ chiếu:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.PASSPORT, new { @class = "form-control", type = "SingleLine", placeholder = "Số Hộ chiếu", autocomplete = "true" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Ngày cấp:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.PASSPORT_DATEVIEW, new { @class = "form-control", id = "datePassport", name = "datePassport" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Nơi cấp:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.PASSPORT_ISSUED, new { @class = "form-control", type = "SingleLine", placeholder = "Nơi cấp", autocomplete = "true" })
                                        </div>
                                    </div>
                                </div>



                            </div>


                            <div class="form-group row">

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="control-label col-xs-5 " style="font-weight:bold;  ">Thông tin phụ huynh:</label>
                                        <div class="col-xs-7">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.PARENTS_INFO, new { @class = "form-control", type = "SingleLine", placeholder = "Thông tin phụ huynh (Đối với trẻ dưới 72 tháng tuổi)", autocomplete = "true" })
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="col-12 ml-auto" style=" margin-bottom: -5px;">
                                <div class="section-title mt-3 mb-3">
                                    <h4 class="text-bold">2. Tình trạng tiếp nhận</h4>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-xs-2 " style="font-weight:bold;  ">Lý do khám:</label>
                                        <div class="col-xs-10">
                                            @Html.TextAreaFor(m => m.PATIENTINFO.REASON, new { @class = "form-control", type = "SingleLine", placeholder = "Lý do khám", rows = "4" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label col-xs-2 " style="font-weight:bold;  ">Ghi chú:</label>
                                        <div class="col-xs-10">
                                            @Html.TextAreaFor(m => m.PATIENTINFO.GHICHU, new { @class = "form-control", type = "SingleLine", placeholder = "Ghi chú", rows = "4" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12 ml-auto" style=" margin-bottom: -5px;">
                                <div class="section-title mt-3 mb-3">
                                    <h4 class="text-bold">3. Thông tin BHYT</h4>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label col-xs-3 " style="font-weight:bold;  ">Số thẻ:</label>
                                        <div class="col-xs-9">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.INSURANCE_CARD, new { @class = "form-control", type = "SingleLine", placeholder = "Số thẻ", ID = "INSURANCE_CARD" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label col-xs-4 " style="font-weight:bold;  ">Nơi ĐK:</label>
                                        <div class="col-xs-8">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.INSURANCE_CARD_PLACE, new { @class = "form-control", type = "SingleLine", placeholder = "Nơi đăng ký", id = "INSURANCE_CARD_PLACE", autocomplete = "false" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="control-label col-xs-2 " style="font-weight:bold;  ">Hạn SD:</label>
                                        <div class="col-xs-4">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.INSURANCE_CARD_STARTVIEW, new { @class = "form-control", id = "INSURANCE_CARD_START", name = "INSURANCE_CARD_START" })
                                        </div>
                                        <label class="control-label col-xs-2 " style="font-weight:bold;  ">Đến:</label>
                                        <div class="col-xs-4">
                                            @Html.TextBoxFor(m => m.PATIENTINFO.INSURANCE_CARD_ENDVIEW, new { @class = "form-control", id = "INSURANCE_CARD_END", name = "INSURANCE_CARD_END" })
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>


                        <div class="tab-pane" id="j-tab-2" role="tabpanel" aria-labelledby="base-tab-2">

                            <div class="widget has-shadow" style="margin-top: -5px;">
                                <div class="widget-body">
                                    <div class="form-group row  ">
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.ALLERGGY.ALLERGY_NAME, new { @class = "form-control  ", type = "SingleLine", placeholder = "Tên dị ứng", autocomplete = "true", id = "ALLERGY_NAME" })
                                        </div>
                                        <label class="col-lg-1 form-control-label text-bold text-right">Loại DU</label>
                                        <div class="col-lg-2">
                                            @Html.DropDownListFor(m => m.ALLERGGY.ALLERGY_TYPE, ComboBox.GetComboBoxBySelected("SELECT id as idfield,  CATEGORY_DESC as namefield  FROM  DM_LOAIDIUNG  where categorys_status = 2", "idfield", "namefield", Model.ALLERGGY.ALLERGY_TYPE.ToString(), true), new { @class = "form-control select2", id = "ALLERGY_TYPE", onchange = "SelectedValueALLERGY_TYPE(this)" })
                                        </div>
                                        <div class="col-lg-3">
                                            @Html.TextBoxFor(m => m.ALLERGGY.ALLERGY_NOTE, new { @class = "form-control  ", type = "SingleLine", placeholder = "Ghi chú", autocomplete = "true", id = "ALLERGY_NOTE" })

                                        </div>
                                        <button type="button" class="btn btn-danger mr-1 mb-2" style="width:100px;" id="SaveALLERGGYID" onclick="return SaveALLERGGY();"><i class="fa fa-save"></i>  Lưu </button>

                                    </div>
                                    @Html.TextBoxFor(m => m.ALLERGGY.ID, new { @class = "checkbox-inline", Type = "hidden" })
                                </div>
                            </div>

                            <!-- Sorting -->
                            <div class="widget has-shadow">
                                <div class="widget-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped dataTable" role="grid" id="table-sick">
                                            <thead>
                                                <tr>
                                                    <th id="ALLERGY_NAME">Tên dị ứng</th>
                                                    <th id="ALLERGY_TYPE">Loại dị ưng</th>
                                                    <th id="ALLERGY_NOTE">Ghi chú</th>
                                                    <th id="edit">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody id="sorting-table-sick">
                                                @if (Model.ALLERGGYS != null)
                                                {
                                                    foreach (var data in Model.ALLERGGYS)
                                                    {
                                                        <tr>
                                                            <td class="ALLERGY_NAME">@data.ALLERGY_NAME</td>
                                                            <td class="ALLERGY_TYPE_NAME"><span>@data.ALLERGY_TYPE_NAME</span></td>
                                                            <td class="ALLERGY_NOTE">@data.ALLERGY_NOTE</td>
                                                            <td style="display:none;" class="ALLERGY_ID">@data.ID</td>
                                                            <td style="display:none;" class="ALLERGY_TYPE">@data.ALLERGY_TYPE</td>
                                                            <td class='td-actions'>
                                                                <a class="Update" href="javascript:;"><i class="fa fa-edit edit"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End Sorting -->



                        </div>

                        <div class="tab-pane" id="j-tab-3" role="tabpanel" aria-labelledby="base-tab-3">

                            <div class="widget has-shadow" style="margin-top: -5px;">
                                <div class="widget-body">
                                    <div class="form-group row  ">

                                        @*<label class="col-lg-2 form-control-label text-bold text-right">Tên bệnh</label>*@
                                        <div class="col-lg-3">
                                            @Html.DropDownListFor(m => m.HISTORIE.SICKNAME, ComboBox.GetComboBoxBySelected("SELECT id as idfield,  SICK_NAME as namefield  FROM   CMS_SICK where SICK_STATUS = 2", "namefield", "namefield", Model.HISTORIE.SICKNAME.ToString(), false), new { @class = "form-control select2", id = "SICKNAME", onchange = "SelectedValueSICKNAME(this)" })
                                        </div>
                                        <label class="col-lg-1 form-control-label text-bold text-right">Năm</label>
                                        <div class="col-lg-2">
                                            @Html.TextBoxFor(m => m.HISTORIE.SICKYEAR, new { @class = "form-control  ", type = "number", placeholder = "Năm", autocomplete = "true", id = "SICKYEAR" })
                                        </div>
                                        @*<label class="col-lg-1 form-control-label text-bold text-right">Ghi chú</label>*@
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.HISTORIE.NOTE, new { @class = "form-control  ", type = "SingleLine", placeholder = "Ghi chú", autocomplete = "true", id = "HISTORIENOTE" })
                                        </div>
                                        <button type="button" class="btn btn-danger mr-1 mb-2" style="width:100px;" id="SaveHISTORIEID" onclick="return SaveHISTORIE();"><i class="fa fa-save"></i>  Lưu </button>

                                    </div>
                                    @Html.TextBoxFor(m => m.HISTORIE.ID, new { @class = "checkbox-inline", Type = "hidden" })
                                </div>
                            </div>

                            <!-- Sorting -->
                            <div class="widget has-shadow">
                                <div class="widget-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped dataTable" role="grid" id="table_history">
                                            <thead>
                                                <tr>
                                                    <th id="SICKNAME">Tên bệnh</th>
                                                    <th id="SICKYEAR">Năm</th>
                                                    <th id="HISTORIENOTE">Ghi chú</th>
                                                    <th id="edit">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody id="sorting-table-history">
                                                @if (Model.HISTORIES != null)
                                                {
                                                    foreach (var data in Model.HISTORIES)
                                                    {
                                                        <tr>
                                                            <td class="SICKNAME">@data.SICKNAME</td>
                                                            <td class="SICKYEAR">@data.SICKYEAR</td>
                                                            <td class="HISTORIES_NOTE">@data.NOTE</td>
                                                            <td style="display:none;" class="HISTORIES_ID">@data.ID</td>
                                                            <td class='td-actions'>
                                                                <a class="Update" href="javascript:;"><i class="fa fa-edit edit"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- End Sorting -->



                        </div>



                        @if (Model.PATIENTINFO.PID != 0)
                        {
                            <div class="widget-body tab-pane fade" id="j-tab-4" role="tabpanel" aria-labelledby="base-tab-4">

                                <!-- Sorting -->
                                <div class="widget has-shadow">
                                    <div class="widget-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-striped dataTable" role="grid" id="table_history">
                                                <thead>
                                                    <tr>
                                                        <th id="DATEIN">Ngày khám</th>
                                                        <th id="REASON">Lý do khám</th>
                                                        <th id="DEPARTMENTSID">Khoa khám</th>
                                                        <th id="GHICHU">Ghi chú</th>
                                                        <th id="SID">Xem bệnh</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="sorting-table-history">
                                                    @if (Model.PATIENTS != null)
                                                    {
                                                        foreach (var data in Model.PATIENTS)
                                                        {
                                                            <tr>
                                                                <td>@CMSLIS.Common.Common.ReFmtTime(data.DATEIN)</td>
                                                                <td><span>@data.REASON</span></td>
                                                                <td>@data.DEPARTMENT_NAME</td>
                                                                <td>@data.GHICHU</td>
                                                                <td>
                                                                    <a href="/Clinic/medicalExaminationResult?sid=@data.SID&pid=@data.PID&Token=@CMSLIS.Common.Common.generalKeyPrivate(data.SID.ToString(),data.PID.ToString())" target="_blank" id="Edit"><i class="fa fa-heart"></i></a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Sorting -->



                            </div>
                        }

                    </div>

                    @Html.TextBoxFor(m => m.PATIENTINFO.PID, new { @class = "checkbox-inline", Type = "hidden" })
                    @Html.TextBoxFor(m => m.PATIENTINFO.PARTNERID, new { @class = "checkbox-inline", Type = "hidden" })
                    @Html.TextBoxFor(m => m.PATIENTINFO.partnerid_Code, new { @class = "checkbox-inline", Type = "hidden" })

                    <div class="em-separator separator-dashed"></div>
                    <div class="text-right" style="margin-top: 15px;">
                        <button type="submit" name="submit" value="hiddent" id="hiddent" class="btn btn-danger" style="display: none;"></button>
                        <button type="submit" name="submit" id="SaveListPatientsAdd" value="SaveListPatientsAdd" class="btn btn-danger"> <i class="fa fa-save"></i> Lưu (Alt + S)</button>
                        <a id="BackListPatients" href="/Clinic/ListPatients" class="btn btn-primary"><i class="fa fa-backward"></i> Quay lại (Alt + Z)</a>

                    </div>


                </div>
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-info" style="margin-left: -10px;">
                        <div class="box-body box-profile">
                            <div class="mt-5 text-center">
                                <div id="my_camera" style="text-align: center !important;width: 100%;margin: 0 auto;">

                                    @if (string.IsNullOrEmpty(Model.PATIENTINFO.PATIENTIMAGE))
                                    {
                                        <img src="/Content/assets/img/User.svg" alt="..." style="width: 120px;" class="profile-user-img img-responsive img-circle">
                                    }
                                    else

                                    {
                                        <img src="/@Model.PATIENTINFO.PATIENTIMAGE" alt="..." style="width: 120px;" class="profile-user-img img-responsive img-circle">
                                    }
                                </div>
                            </div>
                            <h3 class="profile-username text-center">Ảnh đại diện</h3>
                            <input type="button" class="btn btn-success" value="Chụp ảnh" onClick="take_snapshot()">

                            @if (!string.IsNullOrWhiteSpace(Model.PATIENTINFO.PATIENTNAME))
                            {
                                <p class="text-muted text-center">@Model.PATIENTINFO.PATIENTNAME</p>
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        @if (@Model.HISTORIES != null)
                                        {
                                            <b>Tiền sử bệnh</b> <a class="pull-right">@Model.HISTORIES.Count()</a>
                                        }
                                        else
                                        {
                                            <b>Tiền sử bệnh</b> <a class="pull-right">0</a>
                                        }
                                    </li>
                                    <li class="list-group-item">
                                        @if (@Model.ALLERGGYS != null)
                                        {
                                            <b>Dị ứng</b> <a class="pull-right">@Model.ALLERGGYS.Count()</a>
                                        }
                                        else

                                        {
                                            <b>Dị ứng</b> <a class="pull-right">0</a>
                                        }
                                    </li>
                                    <li class="list-group-item">
                                        @if (@Model.PATIENTS != null)
                                        {
                                            <b>Lần khám</b> <a class="pull-right">@Model.PATIENTS.Count()</a>
                                        }
                                        else
                                        {
                                            <b>Lần khám</b> <a class="pull-right">0</a>
                                        }
                                    </li>
                                </ul>


                            }
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                    @Html.TextBoxFor(m => m.PATIENTIMAGE, new { @class = "checkbox-inline", Type = "hidden", ID = "PATIENTIMAGE", Name = "PATIENTIMAGE" })


                    <!-- First, include the Webcam.js JavaScript Library -->
                    @*<script type="text/javascript" src="/Content/assets/js/webcam.min.js"></script>*@

                    <!-- Configure a few settings and attach camera -->
                    @*<script language="JavaScript">
                        Webcam.set({
                            width: 320,
                            height: 240,
                            image_format: 'jpeg',
                            jpeg_quality: 90
                        });
                        Webcam.attach('#my_camera');

                        function take_snapshot() {
                            // take snapshot and get image data
                            Webcam.snap(function (data_uri) {
                                // display results in page
                                document.getElementById('my_camera').innerHTML =
                                    '<img src="' +
                                    data_uri +
                                    '" />';
                                Webcam.upload(data_uri,
                                    '/Clinic/Capture',
                                    function (code, text) {
                                        if (text == "0") {
                                            $.alert({
                                                title: 'Thông báo!',
                                                content: 'Có lỗi trong quá trình lưu ảnh!',
                                            });
                                        } else {
                                            document.getElementById('PATIENTIMAGE').value = text;
                                        }
                                    });
                            });
                        }



                    </script>*@



                </div>
            </div>
        </section>
    }
</div>
<!-- End Content -->
<!-- End Row -->

<script src="/content/AdminLTE/vendor/nanoscroller/nanoscroller.js"></script>

<script src="/content/AdminLTE/vendor/magnific-popup/magnific-popup.js"></script>
<script src="/content/AdminLTE/vendor/jquery-placeholder/jquery.placeholder.js"></script>


<!-- Specific Page Vendor -->
<script src="/Content/AdminLTE/vendor/select2/select2.js"></script>
<!-- InputMask -->
<script src="/Content/AdminLTE/vendor/input-mask/jquery.inputmask.js"></script>
<script src="/Content/AdminLTE/vendor/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="/Content/AdminLTE/vendor/input-mask/jquery.inputmask.extensions.js"></script>

<script src="/Content/AdminLTE/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="/Content/AdminLTE/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>

<script src="/Content/AdminLTE/js/Customer/ListPatientsAdd.js"></script>

<script src="/Content/assets/js/jquery.maskedinput.js"></script>
<script src="/Content/assets/js/jquery.masknumber.js"></script>
<script type="text/javascript">
    $(function () {

        $("#INSURANCE_CARD").mask("aa-9-99 999-999-9999");
    });
</script>