@model  CMS_Core.Models.MedicalExaminationViewModel
@using CMS_Core.Entity;
@{
    ViewBag.Title = "In phiếu thuốc";
    int count = 1;
    Layout = null;
    if (string.IsNullOrEmpty(Model.PATIENTINFO.PATIENTNAME))
    {
        Response.Redirect("/account/login");
    }
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<link href="/Content/AdminLTE/css/bootstrap.min.css" rel="stylesheet" />
<link href="/Content/AdminLTE/css/font-awesome.min.css" rel="stylesheet" />
<link href="/Content/AdminLTE/css/AdminLTE.css" rel="stylesheet" />

<script src="/Content/AdminLTE/js/jquery-2.1.1.min.js"></script>
<script src="/Content/AdminLTE/js/bootstrap.min.js"></script>


<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

<!-- Theme CSS -->
<link rel="stylesheet" href="/Content/AdminLTE/stylesheets/theme.css" />


<script src="/Content/AdminLTE/vendor/modernizr/modernizr.js"></script>

<style>
    .content-wrapper {
        background-color: white !important
    }
</style>
<!-- Begin Content -->
<body class="hold-transition" style="background-color: white !important;">
    <section role="main" class="content-body" style="background-color:#ffffff;">
        <div class="row" style="background-color:#ffffff ;margin-left:5px; margin-right:5px;">

            <div class="form-group row ">
                @*<div class="col-sm-12" style="height:5px;">

                </div>*@

                <div class="form-group row ">
                    <div class="col-xs-2" style="margin-left:3px;">
                        <div class="form-group">
                            <img src="~/Content/AdminLTE/images/logo.jpg" width="90px" style="margin-left:3px;" />
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div style="height:10px;">

                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-12 text-center " style="font-weight:bold;font-size:16px;  ">PHÒNG KHÁM ĐA KHOA DUNG CHÂU</label>
                            <label class="control-label col-xs-12 text-center " style="font-weight:bold;font-size:16px;  ">ĐT: 0210. 3816. 196</label>
                            <div style="height:16px;">

                            </div>


                        </div>
                        <div style="height:10px;">

                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 text-center " style="font-weight:bold;font-size:24px;  ">ĐƠN THUỐC</label>

                        </div>
                    </div>


                </div>






                <div class="col-sm-12" style="height:15px;">

                </div>


                @*<div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 text-center " style="font-weight:bold;font-size:18px;  ">ĐƠN THUỐC</label>
                    </div>
                </div>*@

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 text-center " style="font-weight:bold; font-size:16px; ">Mã KCB: @Model.SID - Mã BN: @Model.PATIENTINFO.PID  </label>
                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label " style="font-weight:bold; font-size:16px; ">Họ và tên: @Model.PATIENTINFO.PATIENTNAME.ToUpper()  </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label " style="font-weight:bold;font-size:16px; ">Tuổi : @Model.PATIENTINFO.AGE  </label>
                    </div>
                </div>
            </div>

            @*<div class="form-group row ">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label " style="font-weight:bold;   ">Ngày sinh: @CMSLIS.Common.Common.ReFmtDate(Model.PATIENTINFO.BIRTHDAY)</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-12 " style="font-weight:bold;  ">Cân nặng: @Model.PATIENTINFO.weight (kg)  </label>
                    </div>
                </div>
            </div>*@


            <div class="form-group row ">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 " style="font-weight:bold;font-size:16px;  ">Địa chỉ:  @Model.PATIENTINFO.ADDRESS</label>
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 " style="font-weight:bold;font-size:16px;  ">Chẩn đoán:  @Model.PATIENT.CHUANDOAN</label>
                    </div>
                </div>
            </div>

            <div class="form-group row ">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-xs-12 text-center " style="font-weight:bold; font-size:16px; "> DANH SÁCH THUỐC</label>
                    </div>
                </div>
            </div>


            <!-- Begin Content -->
            <div class="form-group row ">
                <table id="sorting-table" class="table table-bordered table-striped mb-none">
                    <thead>
                        <tr>
                            <th class="col-xs-1" style="border: 1px solid black;font-weight:bold; ">STT</th>
                            <th class="col-xs-9" style="border: 1px solid black;font-weight:bold; " id="SERVICE_NAME">Tên thuốc (Hàm lượng)</th>
                            <th style="border: 1px solid black;font-weight:bold;min-width:80px; " id="SERVICE_NOTE">Số lượng</th>

                        </tr>
                    </thead>
                    <tbody style="border: 1px solid black; font-weight:bold; ">
                        @if (Model.CMS_PATIENT_PRESCRIPTIONS != null)
                        {
                            foreach (var data in Model.CMS_PATIENT_PRESCRIPTIONS)
                            {
                                <tr style="border: 1px solid black; font-weight:bold; ">
                                    <td class="col-xs-1" style="border: 1px solid black;">@(count++) </td>
                                    <td class="col-xs-9" style="border: 1px solid black;">
                                        <div class="col-xs-12">
                                            <div class="col-xs-9">
                                                @data.MEDICINE_NAME
                                            </div>

                                        </div>
                                        <br />
                                        <span style="font-weight:normal; font-style:italic;">@data.MEDICINE_USAGE</span>


                                    </td>
                                    <td class="col-xs-2" style="border: 1px solid black;"> @CMSLIS.Common.Common.FmtAmt(data.COUNT) @data.MEDICINE_UNIT_NAME</td>

                                </tr>


                            }
                        }

                    </tbody>



                </table>



            </div>
            <!-- End Content -->



        </div>


        <div class="row">
            &nbsp;
        </div>



        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-xs-6 form-group text-center">

            </div>

            <div class="col-xs-6 form-group text-center">
                <span style="font-size:16px;">  Ngày @DateTime.Now.ToString("dd/MM/yyyy")</span>



                </br>
                </br>
                <span style="font-size:16px;font-weight:bold;">BÁC SỸ</span>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-6 form-group text-left">

                <label style="font-size:16px;font-weight:bold;">Lời dặn:  </label> <br />
                @if (!string.IsNullOrEmpty(Model.PATIENT.GHICHU))
                {
                    <label style="font-size:16px;font-weight:bold;">@Html.Raw(Model.PATIENT.GHICHU.Replace("\n", "<br />"))</label>
                }

                @*<label style="font-size:16px;font-weight:bold;">@Html.Raw(Model.PATIENT.GHICHU.Replace("\n", "<br />"))</label>*@

                <div style="height:35px;">

                </div>
                <span style="font-size:16px;font-weight:bold;">Hẹn tái khám: @CMSLIS.Common.Common.ReFmtDate(Model.PATIENT.TAIKHAM)</span>
            </div>

            <div class="col-xs-6 form-group text-center">

            </div>

        </div>

    </section>

</body>
<!-- End Content -->

<script src="/Content/AdminLTE/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="/Content/AdminLTE/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="/Content/AdminLTE/javascripts/theme.js"></script>


<!-- Theme Initialization Files -->
<script src="/Content/AdminLTE/javascripts/theme.init.js"></script>


